<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mCar" class="com.test.Car">
		<constructor-arg>
			<value>E-class</value>
		</constructor-arg>
		<constructor-arg>
			<value>벤츠</value>
		</constructor-arg>
		<constructor-arg>
			<value>강이성</value>
		</constructor-arg>
		<constructor-arg>
			<value>10000</value>
		</constructor-arg>
	</bean>
	
	<bean id="myCar" class="com.test.CarInfo">
		<constructor-arg>
			<ref bean="mCar"></ref>
		</constructor-arg>
	</bean>
</beans>
